:root {
  --font-logo: 'Unlock', cursive;
  --font-general: 'Poppins', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-primary: #FF7420;
  --color-secondary: #191A19;
  --color-white: #FFFFFF;

  --color-text-primary: var(--color-secondary);
  /* Dark */
  --color-text-inverse: var(--color-white);
  /* White */
  --color-text-highlight: var(--color-primary);
  /* Orange */

  --color-bg-primary: var(--color-white);
  /* White */
  --color-bg-secondary: var(--color-secondary);
  /* Dark */
  --color-bg-accent: var(--color-primary);
  /* Orange */

  /* Button Colors */
  --button-bg-primary: var(--color-primary);
  --button-bg-secondary: var(--color-secondary);
  --button-text-primary: var(--color-white);
  --button-text-secondary: var(--color-white);

  --max-width: 1728px;

  --padding: .2rem;

  --padding-sm: .5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;

  --border-radius: 50%;
  --scale-active: 1.2;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-general);
  font-weight: var(--font-weight-regular);
  background-color: black;
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-general);
  font-weight: var(--font-weight-bold);
  color: var(--color-heading);
}

p {
  line-height: 1.6;
  letter-spacing: .02em;
}

.flex {
  display: flex;
  gap: 1rem
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem
}

.grid {
  display: grid;
  gap: 1rem;
}

.logo {
  font-family: var(--font-logo);
  color: var(--color-primary);
  font-size: 2rem;
}

section {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem 4rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .6rem 1.2rem;
  gap: 0.625rem;
  background: #FF7420;
  border-radius: 0.5rem;
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  display: none;
}

.button:hover {
  background-color: #e5611c;
}

.button--language {
  display: none;
  padding: 0 1rem 0 0;
  align-items: center;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button--language:hover {
  background-color: transparent;
  color: #ddd;
}

.button--portfolio {
  background-color: var(--color-white);
  color: var(--color-text-primary);
}

.button--portfolio:hover {
  color: var(--color-white);
  background-color: var(--color-text-primary);
}

.button--hamburger {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
}

svg {
  fill: white;
}

.header {
  background-color: var(--color-bg-secondary);
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: .5rem
}

.header__menu {
  list-style: none;
  display: none;
  gap: 1rem;
}

.menu__item {
  display: inline-block;
}

.menu__item a {
  text-decoration: none;
  color: var(--color-white);
  font-size: .9rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu__item a:hover {
  color: var(--color-primary)
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2;
  background: linear-gradient(to right, black 11%, transparent 100%), url("/jason-richard-Hlhc8gQUW6I-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}

.hero__content {
  max-width: 40rem;
}

.hero__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.hero__title--highlight {
  color: var(--color-primary);
}

.hero__description {
  font-size: 1.2rem;
  color: var(--color-white);
  margin-bottom: 2rem;
}

.experience {
  padding: 2rem 4rem;
  background-color: var(--color-bg-secondary);
}

.experience__numbers {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.experience__item {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.experience__number {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary);
}

.experience__why-us {
  width: 100%;
}


.experience__why-us__content {
  background-color: var(--color-primary);
  color: var(--color-white);
  gap: 1rem;
  padding: 3rem 1rem;
  width: 100%;
  border-radius: .5rem;
}

.why-us-item {
  align-items: center;
  justify-content: start;
}

.why-us-item svg {
  min-height: 1rem;
}

.letter__container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: var(--color-bg-secondary);
}

.letter__image-wrapper {
  height: 20rem;
}

.letter__image {
  height: 100%;
}

.letter__title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.letter__title--highlight {
  color: var(--color-primary);
  display: block;
}

.letter__text {
  letter-spacing: .03rem;
  margin: 2rem auto;
}

.project {
  background-color: var(--color-primary);
}

.plans {
  align-items: center;
  justify-content: center;
}

.plan__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  margin-bottom: 2rem;
  gap: 0;
}

.plan__text {
  height: 5rem;
  font-size: .8rem;
  line-height: .9rem;
}

.step__text {
  font-size: .8rem;
  color: var(--color-white);
  height: 2rem;
}

.project__container {
  flex-direction: column;
}

.plan__dot {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--color-white);
  margin-top: .5rem;
  box-shadow: 0px 0px .5rem .5rem #ffffff88;
}

.plan__line {
  height: .1rem;
  background-color: var(--color-white);
  margin: -2.3rem;
}

.featured__menu {
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.featured__menu__items {
  display: none;
}

.featured__title {
  color: var(--color-secondary);
}

.featured__items {
  margin-top: 2rem;
  gap: 2rem;
  cursor: grab;
  user-select: none;
  overflow-x: hidden;
}

.featured__item {
  display: flex;
  flex-direction: column;
  height: 28rem;
  aspect-ratio: 42/61;
  background-image: linear-gradient(to top, black 11%, transparent 100%), url("https://picsum.photos/id/237/200/300");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
  justify-content: end;
  align-items: center;
  min-width: 250px;
  flex-shrink: 0;
}

.featured__item--1 {
  background-image: linear-gradient(to top, black 11%, transparent 100%), url("https://picsum.photos/id/236/200/300");
}

.featured__item--2 {
  background-image: linear-gradient(to top, black 11%, transparent 100%), url("https://picsum.photos/id/235/200/300");
}

.featured__item--3 {
  background-image: linear-gradient(to top, black 11%, transparent 100%), url("https://picsum.photos/id/234/200/300");
}

.featured__item--4 {
  background-image: linear-gradient(to top, black 11%, transparent 100%), url("https://picsum.photos/id/233/200/300");
}

.featured__item--5 {
  background-image: linear-gradient(to top, black 11%, transparent 100%), url("https://picsum.photos/id/232/200/300");
}

.featured__item p {
  margin-bottom: 1rem;
  font-size: .8rem;
}

.explore__text {
  margin-top: 1rem;
  justify-content: end;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  color: var(--color-secondary);
  font-weight: 700;
}

.explore__text svg {
  fill: var(--color-secondary);
}

.testimonial {
  text-align: center;
  padding: 3rem 1rem;
}

.testimonial__header {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.testimonial__text-container {
  position: relative;
  height: 13rem;
  margin-bottom: 1rem;
  width: 90%;
}

.testimonial__text {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}

.testimonial__text--name {
  margin-top: 1.2rem;
}

.testimonial__text--company {
  font-size: .8rem;
}

.testimonial__text--active {
  opacity: 1;
  transform: translateY(0);
}

.testimonial__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.testimonial__track {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  height: 100px;
}

.testimonial__track__item {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial__track__item--active {
  box-sizing: content-box;
  border: 4px solid var(--color-primary);
  border-radius: var(--border-radius);
}

.testimonial__track__item-image {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.testimonial__track__item-image--active {
  transform: scale(var(--scale-active));
  opacity: 1;
}

.testimonial__track__item-image:not(.testimonial__track__item-image--active) {
  transform: scale(1);
  opacity: 0.7;
}

.testimonial__arrow {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.testimonial__arrow:hover {
  background-color: #e5611c;
}

.testimonial__arrow--left {
  position: absolute;
  left: -55px;
}

.testimonial__arrow--right {
  position: absolute;
  right: -55px;
}

.contact__title {
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  text-align: center;
  margin-bottom: 2rem;
  text-align: center;
}

.contact__container {
  flex-direction: column;
}

.contact__features {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.contact__features-item {
  align-items: center;
  font-size: .8rem;
  gap: .4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contact__methods {
  flex-direction: column;
}

.contact__methods--form,
.contact__methods--text {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: .5rem;
  width: 100%;
  flex-direction: column;
  padding: 2rem 1rem;
  justify-content: space-between;
}


.contact__methods--form input,
.contact__methods--form select {
  width: calc(50% - .2rem);
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  padding: 0 .5rem;
  margin-bottom: 1rem;
}

.contact__methods--form textarea {
  width: 100%;
  height: 5rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  padding: .5rem .5rem;
  margin-bottom: 1rem;
}

.contact__methods--form button,
.contact__methods--text button {
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  cursor: pointer;
}

.contact__subheader {
  font-size: .8rem;
}

.contact__text {
  font-size: .7rem;
}

.footer__logo {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo .logo {
  color: var(--color-white);

}

.subscribe__wrapper {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.subscribe__from {
  align-items: center;
  justify-content: center;
  gap: 0;
  border-bottom: solid 1px var(--color-white);
}

.subscribe__from input,
.subscribe__from button {
  background-color: transparent;
  height: 1.3rem;
  outline: none;
  border: none;
}

.footer {
  gap: 0;
}

.footer__info {
  grid-template-columns: 1fr 1fr;
}

.footer__info__about,
.footer__info__office,
.footer__info__contact,
.footer__info__links {
  flex-direction: column;

}

.footer__info__text {
  font-size: .6rem;
}


@media (min-width: 768px) {
  .button {
    display: flex;
  }

  .button--hamburger {
    display: none;
  }

  .header__menu {
    display: flex;
  }

  .plan__text {
    height: 3rem;
  }

  .experience__why-us__content {
    padding: 3rem;
  }

  .testimonial__text-container {
    height: 9rem
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }

  .header__menu {
    gap: 1.5rem;
  }

  .header__menu a {
    font-size: 1rem;
  }

  .experience {
    flex-direction: row;
    align-items: end;
  }

  .experience__numbers {
    width: 45%;
  }

  .experience__why-us {
    width: 55%;
    margin: 0 2rem;
  }

  .experience__why-us__content {
    border-radius: .5rem;
  }

  .experience__numbers,
  .experience__why-us {
    margin-top: -12rem;
  }

  .experience__numbers {
    flex-direction: row;
    justify-content: space-between;
  }

  .letter__container {
    flex-direction: row;
  }

  .featured__menu__items {
    display: flex;
    gap: .5rem;
    font-size: .8rem;
  }

  .testimonial__text-container {
    width: 70%;
    height: 9rem;
  }

  .contact__features {
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  .contact__methods {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact__methods--form {
    width: 57%;
    justify-content: space-between;
  }

  .contact__methods--text {
    width: 40%;
  }

  .contact__methods--form button,
  .contact__methods--text button {
    height: 2.5rem;
  }

  .testimonial__arrow--right {
    right: -70px;
  }

  .testimonial__arrow--left {
    left: -70px;
  }

  .footer__info {
    grid-template-columns: 3fr 2fr 1fr 1fr;
  }

}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }

  .header__menu {
    gap: 2rem;
  }

  .header__menu a {
    font-size: 1.1rem;
  }

  .experience__numbers,
  .experience__why-us {
    margin-top: -8rem;
  }

  .plan__text {
    height: 2rem;
  }
}